@model IEnumerable<X_Project.Models.FacebookFriendsModel>
@{
    ViewBag.Title = "Index";
}

@*<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6">
                <input type="hidden" value="@item.Id" />
                <img src="@item.ImageUrl" />
                <h2>@item.Name</h2>
                <link href="" />
                <h2>@item.WishListCount</h2>
                @Html.ActionLink("Go", "UserProfile", new { userId = item.UserId })
            </div>
        }
    </div>
</div>*@
<div class="MyContainer">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="friends-div">
                <div class="col-lg-6">
                    <img src="@item.ImageUrl" class="friends-img">
                    <div class="profile-text">
                        <h1 class="profile-name">@item.Name</h1>
                        @if (item.WishListCount == 0)
	                    {
		                     <strong style="color:#d66565">Has not wishlist yet!</strong>
                        }
                        else
                        {
                            @Html.ActionLink("WISHLIST", "UserProfile", new { userId = item.UserId, @style = "color: green;" })
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>